body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#Board  {
  margin: 10vmin auto ;
  display: flex;
  justify-content: flex-start;
  height: 75vmin;
  width: 50vmin;
  flex-wrap: wrap;
  border: solid 2px black;
}

#Board:focus  {
  outline: none;
}

.square {
  width: 5vmin;
  height: 5vmin;
  border: solid 0.1px black;
  box-sizing: border-box;
  text-align: center;
}
