body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://wallpaperlayer.com/img/2015/10/pattern-wallpaper-1239-1364-hd-wallpapers.jpg);
}

#Board  {
  margin: 10vmin auto ;
  display: flex;
  justify-content: flex-start;
  height: 75vmin;
  width: 50vmin;
  flex-wrap: wrap;
  border: solid 3px black;
}

#Board:focus  {
  outline: none;
}

.square {
  width: 5vmin;
  height: 5vmin;
  border: solid 0.1px black;
  box-sizing: border-box;
  text-align: center;
  background-color: #e2d9a1;
}

h1  {
  text-align: center;
  margin-top: 5vmin;
  color: #e2d9a1;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.controller {
  margin: 10vmin auto;
  display: flex;
  flex-direction: column;
}

.controller * {
  background-color: black;
  color: #e2d9a1;
  box-sizing: border-box;
}

.controller:first-child, .controller:last-child {
  width: 20vmin
}

.left-right {
  display: flex;
  justify-content: space-between;
}

.left-right * {
  width: 10vmin;
  box-sizing: border-box;
}

button {
outline: none;
padding: 0;
}

.fa {
  display: inline;
}
